html {
    background-size: cover;
    /*background: url(mars.jpg) no-repeat fixed;*/
}

body {
    width: 80%;
    margin: auto;
}

img {
    vertical-align: middle;
}

.menu {
    float: left;
    width: 15%;
    height: 25%;
    background-color: #e0eaf1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu ul {
    list-style-type: none;
}

.content {
    float: left;
    width: 85%;
}

.container {
    margin-left: 30px;
    height: 300px;
    line-height : 250px;
    max-height: 250px;
}

.item {
    float: left;
    max-height: 250px;
    /*margin: 10px;*/
}

.title {
    margin-left: 30px;
}

.new {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.tags {
    margin-left: 30px;
    margin-top: 20px;
}

.tag {
    display: inline-block;
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 90%;
    color: #3e6d8e;
}